.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

hr {
  margin: 0;
  height: 1px;
  border: none;
  background-color: #ccc;
}

.square {
  bottom: 30px;
  left: 30px;
  z-index: 1;
  position: absolute;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: lightseagreen;
}

.todo-wrapper {
  width: 600px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 0 15px;
  display: flex;
  align-items: flex-end;
}

.app-main {
  padding: 15px;
}

.spacer {
  flex: 1 1 auto;
}

.App-link {
  color: #61dafb;
}

.links {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  &__item {
    list-style: none;
    padding: 5px 10px;
    a {
      color: #4285f4;
      text-decoration: none;
      &:hover {
        color: darken($color: #4285f4, $amount: 20);
        text-decoration: underline;
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
